# Rust compiled artifacts
/target/
**/*.rs.bk

# Arcaea Compiler outputs
*.ll
arc_app
arc_out.ll

# arcaeaOS Generation Store (Local state)
/arcaea_store/

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp
